:root {
    --bg: #f1f5f9;
    --card: #ffffff;
    --text: #0f172a;
    --muted: #64748b;
    --primary: #2563eb;
}

body.dark {
    --bg: #0f172a;
    --card: #1e293b;
    --text: #f8fafc;
    --muted: #94a3b8;
    --primary: #38bdf8;
}

* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
}

.app {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background: var(--card);
    color: var(--text);

    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);

    transition: 
        background 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
    z-index: 999;
}

.theme-toggle:hover {
    transform: scale(1.08);
}

body.dark .theme-toggle {
    background: var(--card);
    color: var(--text);
}


.card, .chart-box {
    background: var(--card);
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
}

.result {
    margin-top: 20px;
    font-size: 22px;
    color: var(--primary);
}

footer {
    text-align: center;
    color: var(--muted);
    margin-top: 40px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
